<script setup lang="ts">
import Card from '../components/card.vue';
</script>

<template>
<card class="main-card">
  Я начал программировать, когда учился в университете. Мы писали код для микроконтроллеров и ПЛИС.
  Самой интересной частью для меня было подключение дисплеев и программирование графического изображения.
  Я стал узнавать, как можно развить такое желание и превратить его в профессию.
  И мне подсказали старшие студенты, что графическими интерфейсами сейчас занимаются фронтенд разработчики.
  Так я увлекся веб-разработкой: освоил html, css, js. Поступил на курс по фронтенду и выучил Angular.
  Я ни секунды не жалею о сделанном выборе и потраченных усилиях.
</card>

</template>

<style scoped>
.main-card {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto;
}
</style>
