<template>
  <div class="school-card">
    <img src="../assets/school-photo.jpeg" alt="school-photo"/>
    <card>
      Это я в Санкт-Петербурге на экскурсии с классом. Мне тут 16 лет
    </card>
  </div>
</template>

<script>
import Card from "@/components/card.vue";

export default {
  name: "SchoolPhoto",
  components: {Card}
}
</script>

<style scoped>
img {
  vertical-align: top;
  margin-bottom: 2rem;
  border-radius: 32px;
}
.school-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}
</style>
