<template>
  <div class="video" ref="videoContainer">
    <video src="../assets/record.mov" preload="auto" controls :width="width" ></video>
  </div>
  <card class="video-card">
    Как избежать схлопывания внешних отступов при помощи flex-контейнеров
  </card>
</template>

<script>
import Card from "@/components/card.vue";

export default {
  name: 'video-container',
  components: {Card},
  data() {
    return {
      width: 0,
    }
  },
  methods: {
    onresize() {
      this.width = this.$refs.videoContainer.clientWidth;
    }
  },
  mounted() {
    this.onresize();
    window.addEventListener('resize', this.onresize.bind(this));
  },
  unmounted() {
    window.removeEventListener('resize', this.onresize.bind(this));
  },
}
</script>

<style>
.video-card {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.2rem;
}
</style>
