<template>
  <div class="avatar-info">
    <img alt="My ava" src="../assets/avatar.jpg" width="230" height="230" />
    <h2>Никита Наумов</h2>
    <h4>Frontend developer at Align Technology</h4>
    <a href="https://gitlab.com/Writerous/bio" target="_blank" rel="noopener noreferrer">https://gitlab.com/Writerous/bio</a>
  </div>

</template>

<script setup lang="ts">
</script>

<style scoped>
.avatar-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
img {
  border-radius: 50%;
  vertical-align: top;
  margin-bottom: 2rem;
}

h4 {
  padding-bottom: 0.5rem;
}
</style>
