<template>
<div class="card">
  <slot></slot>
</div>
</template>

<script>
export default {
  name: "card"
}
</script>

<style scoped>
.card {
  border: tomato 2px solid;
  padding: 1.5em;
  border-radius: 32px;
}
</style>
