<template>
    <div class="mode-toggle" @click="modeToggle" :class="darkDark">
      <div class="toggle">
        <div id="dark-mode" type="checkbox"></div>
      </div>
    </div>
</template>

<script>
export default {
  name: "DarkModeToggle",
  data() {
    return {
      darkMode: false
    }
  },
  mounted() {
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
      this.dark();
    }
  },
  methods: {
    dark() {
      document.documentElement.classList.add('dark-mode');
      document.documentElement.classList.remove('light-mode');
      this.darkMode = true
      this.$emit('dark')
    },

    light() {
      document.documentElement.classList.remove('dark-mode');
      document.documentElement.classList.add('light-mode');
      this.darkMode = false
      this.$emit('light')
    },

    modeToggle() {
      if(this.darkMode || document.documentElement.classList.contains('dark-mode')) {
        this.light()
      } else {
        this.dark()
      }
    },
  },

  computed: {
    darkDark() {
      return this.darkMode && 'darkmode-toggled'
    }
  }
}
</script>

<style scoped>

.mode-toggle {
  position: relative;
  padding: 0;
  width: 44px;
  height: 24px;
  min-width: 36px;
  min-height: 20px;
  background-color: #262626;
  border: 0;
  border-radius: 24px;
  outline: 0;
  overflow: hidden;
  cursor: pointer;
  z-index: 2;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  appearance: none;
  transition: background-color .5s ease;
}
.toggle {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid transparent;
  box-shadow: inset 0 0 0 2px #a5abba;
  overflow: hidden;
  transition: transform .5s ease;
}
#dark-mode {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
}

#dark-mode:before {
   content: '';
   position: relative;
   width: 100%;
   height: 100%;
   left: 50%;
   float: left;
   background-color: #a5abba;
   transition: border-radius .5s ease, width .5s ease, height .5s ease, left .5s ease, transform .5s ease;
}

.darkmode-toggled .mode-toggle {
  background-color: #333333;
}
.darkmode-toggled .toggle {
  transform: translateX(19px);
}

.darkmode-toggled #dark-mode:before {
     border-radius: 50%;
     width: 150%;
     height: 85%;
     left: 40%;
     transform: translate(-10%, -40%) rotate(-35deg);
}
</style>
