@import './base.css';

#app {
  margin: 0;
  font-weight: normal;
  min-height: 100vh
}

@media (min-width: 1024px) {
  #app {
    display: flex;
    align-items: center;
  }
}

a {
  color: var(--color-link);
}
