<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import AvatarInfo from "@/components/AvatarInfo.vue";
import DarkModeToggle from "@/components/DarkModeToggle.vue";
</script>

<template>
  <header>
    <div class="header-container">
      <AvatarInfo/>
      <nav>
        <ul>
          <li>
            <RouterLink to="/">Обо мне</RouterLink>
          </li>
          <li>
            <RouterLink to="/video">Фишка в CSS</RouterLink>
          </li>
          <li>
            <RouterLink to="/school">Мое школьное фото</RouterLink>
          </li>
        </ul>
        <label class="padding-flex">А здесь можно поменять тему</label>
        <div class="padding-flex"><DarkModeToggle/></div>
      </nav>
    </div>
  </header>
  <main>
    <RouterView />
  </main>
</template>

<style scoped>
header {
  line-height: 1.5;
  margin: 0 2rem;
  padding: 1rem;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center
}

nav {
  margin-top: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

main {
  min-height: 100%;
  margin: 0 2rem;
  padding: 1rem;
  width: calc(100% - 4rem);
}

nav a {
  border: 2px solid transparent;
  border-radius: 16px;
  padding: 0.5rem 1rem;
  display: block;
}

nav a.router-link-active {
  border-color: tomato;
}

.padding-flex {
  padding: 0.5rem 1rem;
  display: flex;
}
</style>
